@use '../../common/variable' as *;
@use '../../common/mixin' as *;

.library {
  &-wrap {
    box-sizing: border-box;
    width: 100%;
    height: calc(100svh - $header-height - $footer-height);
  }

  &-iframe {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
  }
}
